{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-header m-2 p-2">
            <div class="dashboard-alerts row">
            <div class="m-4 p-4 alert-item alert-info">
                <span class="font-weight-bold">Liczba opowiadan: {{ no_of_stories }}</span>
            </div>
        </div>
    <div class="dashboard-menu">
    </div>
</div>
<div class="row">
    <div class="m-2 p-4 border-dashed">
        <h2 class="dashboard-content-title">
            <span>Opowiadania</span>
        </h2>
        <table class="table css-serial">
            <thead>
            <tr>
                <th>Tytuł</th>
                <th>Typ</th>
                <th>Data</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for story in stories %}
            <tr>
                <td class="text-color-darker"><strong>{{story.title}}</strong></td>
                <td>{{story.type}}</td>
                <td>{{story.publication_date}}</td>
                <td><a class="btn btn-secondary rounded-1" href="{% url 'story-details' story.id %}">Czytaj</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock content %}